[Desktop Entry]
Type=Application
Name=MultiMC
Icon=org.multimc.MultiMC5
Exec=multimc
Categories=Game;
StartupWMClass=net-minecraft-bootstrap-Bootstrap
